body {
    font-family: 'Fira Code', monospace;
    background-color: rgb(22, 180, 180);
    margin: 0;
}

.title-bar {
    height: 20px;
    width: 100%;
    background-color: rgb(145, 243, 243);
    -webkit-app-region: drag;
    text-align: center;
    justify-content: center;
    padding: none;
}

.title {
    position: fixed;
    top: 0;
    left: 6px;
}

.title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}